body {
    background-color: #B3E5EA;
}

* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background: #A2DBE2;
        }

        .navbar {
            width: 100%;
            height: 90px;
            background: #A2DBE2;
            display: flex;
            align-items: left;
            justify-content: flex-start;
            box-shadow: #A2DBE2;
            padding-left: 20px;
        }

        .logo-container {
            width: 220px;
            height: 70px;
            border-radius: 16px;
            background: #A2DBE2;
            border: #A2DBE2;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    
        .logo-placeholder {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background:#A2DBE2;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;
            font-size: 18px;
        }